//  ───────────────────────────────────────────────────────────── DEBUG ───┐
.d-blue {
  border: 1px solid blue;
}

.d-green {
  border: 1px solid green;
}

.d-yellow {
  border: 1px solid yellow;
}

.d-orange {
  border: 1px solid orange;
}

.d-red {
  border: 1px solid red;
}
// <───────────────────────────────────────────────────────────────────────┘
